@media screen and (max-width:988px ) {
	.header__navigation {
        display: none;
    }

    .header__text {
        margin-top: 50px;
    }

    .choose-burgers__inner {
        width: 60%;
    }

    .choose-burgers__wrap {
        flex-wrap: wrap;
    }

    }
    
@media screen and (max-width:1250px ) {
    .header__price {
         display: none;
    }
    }

@media screen and (max-width:662px ) {
    .header__wrap-burger {
        width: 100%;
        text-align: center;
    }

    .header__wrap {
        text-align: center;
         margin: 0px auto;
    }

    .header__logo {
        margin: 0px auto;
    }
    }

@media screen and (max-width:420px ) {
    .choose-burgers__subject {
        font-size: 25px;
    }
    }

@media screen and (max-width:560px ) {
    .thumbnail__pharagraph {
        font-size: 15px;
    }
        
    .thumbnail__subtitle {
        font-size: 25px;
    }
    }

