/* Начальные стили 
===========================================*/

body {
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #3d2514;
}

* {
    transition: all 0.5s;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

ul li {
    list-style: none;
    font-size: 16px;
}

a, a:hover, a:active, a:focus {
	text-decoration: none;
    color: #3d2514;
}

.container {
    max-width: 1410px;
    margin: 0px auto;
    padding: 0px 15px;
}

/* Первый экран */

.header {
    background: rgb(247,238,59);
    background: radial-gradient(circle, rgba(247,238,59,1) 0%, rgba(245,200,48,1) 75%);
    padding-top: 30px;
}

.header__wrap {
    width: 47%;
}

.header__wrap-burger {
    position: relative;
    text-align: right;
    width: 47%;
}

.header__wrap-burger img {
    width: 70%;

}

.header__aside {
    display: flex;
    justify-content: space-between;
}

.header__callback {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.header__navigation {
    width: 40%;
}

.header__tel {
    margin-left: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


.header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__link {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    letter-spacing: 3px;
}

.header__tel:hover, .header__link:hover{
    opacity: 0.6;
}

.header__text {
    text-transform: uppercase;
    margin-top: 120px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header__subtitle {
    padding: 15px 18px;
    font-family: 'Bebas Neue', cursive;
    font-size: 2vw;
    letter-spacing: 1px;
    border: 3px dashed #3d2514;
    display: inline-block;
}

.header__title {
    position: relative;
    font-family: 'Alfa Slab One', cursive;
    font-size: 9vw;
    text-shadow: #fee8bc 1px 1px 0, #fee8bc 2px 2px 0, 
                 #fee8bc 3px 3px 0, #fee8bc 4px 4px 0, 
                 #fee8bc 5px 5px 0;
}

.header__desc {
    display: block;
    font-family: 'Alfa Slab One', cursive;
    font-size: 5vw;
    text-shadow: #fee8bc 1px 1px 0, #fee8bc 2px 2px 0, 
                 #fee8bc 3px 3px 0, #fee8bc 4px 4px 0, 
                 #fee8bc 5px 5px 0;
}

.header__price {
    padding: 5px 5px;
    background-color: #bf2222;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 36px;
    left: 209px;
}

.header__pharagraph {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    border: 2px dashed #fff;
    border-radius: 50%;
    padding: 0px 25px;
    color: #fff;
}

.header__pharagraph > span {
    font-size: 60px;
}

/* Секция thumbnail 
================================================*/
.thumbnail__wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.thumbnail__img {
    width: 100%;
    border-radius: 7px;
}

.thumbnail__inner {
    max-width: 596px;
    position: relative;
}

.thumbnail__text {
    position: absolute;
    top: 22px;
    left: 22px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    color: #fff;
}

.thumbnail__image {
    border-radius: 7px;
    width: 100%;
}

.thumbnail__box {
    margin-bottom: 8px;
    position: relative;
}

.thumbnail__box:not(:first-child) {
    margin-bottom: 0px;
}

.thumbnail__pharagraph {
    font-size: 1.4375rem;
}

.thumbnail__subtitle {
    font-size: 2.5rem;
    font-weight: 500;
}

.thumbnail__text-box {
    position: absolute;
    top: 22px;
    left: 22px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    color: #fff;
}

.thumbnail__holder {
    display: flex;
    justify-content: center;
    margin: 72px 0px 40px 0px;
}

.thumbnail__link {
    padding: 15px 24px;
    background-color: #ffc045;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5vw;
}

/* СЕКЦИЯ CHOOSE & ENJOY
=================================================== */

.choose {
    text-align: center;
    background-color: #fff;
}

.choose__title {
    font-family: 'Alfa Slab One', cursive;
    font-size: 4vw;
    text-transform: uppercase;
}

.choose__pharagraph {
    margin: 35px 0px;
    font-size: 1.2vw;
}

.choose-burgers__wrap {
    display: flex;
    flex-wrap: wrap;
}

.choose-burgers__inner {
    width: 33.3%;
}

.choose-burgers__img {
    width: 100%;
}

