/* Начальные стили 
===========================================*/

body {
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #3d2514;
}

* {
    transition: all 0.5s;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

ul li {
    list-style: none;
    font-size: 16px;
}

a, a:hover, a:active, a:focus {
	text-decoration: none;
    color: #3d2514;
}

.container {
    max-width: 1410px;
    margin: 0px auto;
    padding: 0px 15px;
}

/* Первый экран */

.header {
    height: 100vh;
    background: #ffc658 url(../img/header-burger.jpg) no-repeat center center /cover;
    padding-top: 30px;
}

.header__aside {
    display: flex;
    justify-content: space-between;
}

.header__callback {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.header__navigation {
    width: 40%;
}

.header__tel {
    margin-left: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


.header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__link {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    letter-spacing: 3px;
}

.header__tel:hover, .header__link:hover{
    opacity: 0.6;
}

.header__text {
    text-transform: uppercase;
    margin-top: 133px;
    position: relative;
}

.header__desc {
    padding: 15px 18px;
    font-family: 'Bebas Neue', cursive;
    font-size: 23px;
    letter-spacing: 1px;
    border: 3px dashed #3d2514;
    display: inline-block;
}

.header__title {
    font-family: 'Alfa Slab One', cursive;
    font-size: 114px;
    text-shadow: #fee8bc 1px 1px 0, #fee8bc 2px 2px 0, 
                 #fee8bc 3px 3px 0, #fee8bc 4px 4px 0, 
                 #fee8bc 5px 5px 0;
}

.header__subtitle {
    font-family: 'Alfa Slab One', cursive;
    font-size: 56px;
    text-shadow: #fee8bc 1px 1px 0, #fee8bc 2px 2px 0, 
                 #fee8bc 3px 3px 0, #fee8bc 4px 4px 0, 
                 #fee8bc 5px 5px 0;
}

.header__price {
    padding: 5px 5px;
    background-color: #bf2222;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 337px;
    right: 460px;
}

.header__pharagraph {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    border: 2px dashed #fff;
    border-radius: 50%;
    padding: 0px 25px;
    color: #fff;
}

.header__pharagraph > span {
    font-size: 60px;
}

/* Секция thumbnail 
================================================*/

.thumbnail__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 75px 0px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}

.thumbnail__wrap {
    width: 48%;
    background: #ffc658 url(../img/Burger_1.jpg) no-repeat center center /cover;
    height: 415px;
    border-radius: 7px;
    padding: 30px 0px 0px 26px;
}

.thumbnail__inner {
    width: 48%;
}

.burger_1 {
    height: 190px;
    background: #ffc658 url(../img/Burger_2.jpg) no-repeat center center /cover;
    margin-bottom: 35px;
    border-radius: 7px;
}

.burger_2 {
    height: 190px;
    background: #ffc658 url(../img/Burger_3.jpg) no-repeat center center /cover;
    border-radius: 7px;
}

.thumbnail__text {
    color: #fff;
    font-size: 23px;
}

.thumbnail__title {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

.thumbnail__wrapper {
    padding: 30px 0px 0px 26px;
}

.thumbnail__more {
    width: 30%;
}

.thumbnail__link {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.thumbnail__link a{
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    padding: 15px 23px;
    background-color: #ffc045;
}